# push only my custom plugins
.htaccess
index.php
license.txt
readme.html
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# ignore everything in the root, except:
# mu-plugins, plugins
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/

wp-content/plugins/advanced-custom-fields/
wp-content/plugins/akismet/
wp-content/plugins/all-in-one-wp-migration/
wp-content/plugins/loco-translate/
wp-content/plugins/manual-image-crop/
wp-content/plugins/members/
wp-content/plugins/regenerate-thumbnails/
wp-content/plugins/hello.php

package.json

# ignore node dependency directories
node_modules/